<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8"/>
		<title>404</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<style>
			body {
				background: #fffbfa;
				margin: 50px 0 0 0;
				padding: 0;
				width: 100%;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-align: center;
				color: #49c6e5;
				font-size: 18px;
			}

			h1 {
				color: #49c6e5;
				letter-spacing: -3px;
				font-family: 'Lato', sans-serif;
				font-size: 100px;
				font-weight: 200;
				margin-bottom: 0;
			}
		</style>
	</head>
	<body>
		<h1>404</h1>
		<img src="{{ image }}" />
		<footer>
			<div>&copy;2018 StackGhost, All Rights Reserved</div>
		</footer>
	</body>
</html>
