<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Demo - &copy;2018 StackGhost</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
        <style>
			body {
				background: #fffbfa;
				margin: 50px 0 0 0;
				padding: 0;
				width: 100%;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-align: center;
				color: #49c6e5;
				font-size: 18px;
			}

			h1 {
				color: #49c6e5;
				letter-spacing: -3px;
				font-family: 'Lato', sans-serif;
				font-size: 100px;
				font-weight: 200;
				margin-bottom: 0;
			}

			.center { margin: 0 auto; width: 640px; }

            /* video {
                width: 640px;
                height: 360px;
            } */
		</style>
    </head>
    <body>
        <h1>DASH</h1>
        <div>
				<video id="video-demo" class="video-js vjs-big-play-centered center" width=640 height=360 preload="auto" controls></video>
            <!-- <video id="video-demo" class="video-js vjs-big-play-centered center" src="{{ demo }}" preload="auto" data-dashjs-player autoplay controls data-setup="{}">
                <p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
            </video> -->
        </div>
        <footer>
			<div>&copy;2018 StackGhost, All Rights Reserved</div>
		</footer>
		<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
		<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
		<script src="{{ url_for('static', filename='scripts/videojs-dash.min.js') }}"></script>
		<script>
			var player = videojs('video-demo');

			player.ready(function() {
				player.src({
					src: "{{ demo }}",
					type: "application/dash+xml"
				});

				player.play();
			});
		</script>
    </body>
</html>